*~
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.cache
/config.log
/config.status
/config.status.lineno
/configure
/configure.lineno
/ChangeLog
/zile*.tar.gz
/zile*.tar.gz.sig
/zile*.tar.gz.directive*
/release-notes
/GNUmakefile
/maint.mk
/build-aux
/.sc-start*
